# 🔐 Claves y credenciales
.env
*.json
!config/*.json  

# 📁 Carpetas de datos
/data/
index_13langchain/

# ⚙️ Archivos de entorno virtual
venv/
env/
.venv/
ENV/
env.bak/
*.pyc
__pycache__/

# 🧪 Checkpoints de Jupyter
.ipynb_checkpoints/

# 💻 Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini
#Tarea13 fais

Tarea13/index_13langchain_02/


